body {
  font-family: Arial, Helvetica, sans-serif;
}


button {
  /* 23E */
  background-color: #FCA71E;
  color: white;
  font-weight: bold;
  /* 24E */
  padding: 10px 20px;
  /*  24C */
  margin: 10px;
  /* 24D */
  border: 1px solid gray;
  /* 24F */
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
  /* 23D-1 */
  font-weight: bold;
}

/* 26H */
button:hover{
  background-color: rgb(255, 179, 16)
}

img {
  box-shadow: 0px 5px 15px 0px gray;
}

h1 {
  /* 23D-3 */
  font-size: 45px;
}

h2 {
  font-size: 30px
}

h3 {
  font-size: 20px;
}

p {
  margin: 10px 20px;
}

a {
  /* 23D-2 */
  cursor: pointer;
  color: rgb(36, 184, 233);
  text-decoration: none;
}
a:hover{
  color: #FCA71E;
}

/* 22C-2 */
.top {
  /* 23F */
  background-image: url('./media/Crusher\ Landing.jpg');
  background-size: cover;
  height: 800px;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

footer {
  background-color: rgb(66, 66, 66);
  padding: 20px 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

.title {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.logo {
  box-shadow: none;
}

.nav-links ul {
  /* 27C, 27D, 27E, 27F, 27G */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  align-content: baseline;
  flex-wrap: wrap;
  width: 100%;
}

.nav-link {
  margin: 5px 15px;
  font-size: 12px;
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

/* 22C-3 */
.top > a {
  text-align: right;
}

/* 22C-5 */
h3 + p {
  font-weight: bold;
}

/* 22C-4 */
.sm-logos img {
  height: 50px;
  width: 50px;
}

/* 22C-1 */
#big-title {
  font-size: 55px;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}

.long-tile-box {
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.middle > div > div {
  border-radius: 10px;
  margin: 20px;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: 0px 6px 37px -3px black;
  text-align: center;
}

.long-tile {
  background-color: lightgray;
  border: 1px darkgray solid;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.long-tile > div {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  max-width: 400px;
  margin: 20px;
}

.small-tile-box {
  display: flex;
  flex-direction: row;
}

.small-tile {
  background-color: #08052b;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 500px;
}

.sm-logos .logo {
  height: 40px;
  width: 40px;
}

